<center> <h1 class="icon-4x icon-warning-sign" style="display: block;width:70%;margin-top:100px">   A PÁGINA ESTÁ EM MANUTENÇÃO</h1> <center>
  <br>
<p>EM BREVE ESTAREMOS NO AR!</p>
<%= image_tag "escudo.png" %>
