<div id="tabela">
   <%= content_tag :h3, "Classificação do Brasileirão", :class => "title"  %>
  <div class="tbnet-gadget"><div id="tbnet-classificacao">Carregando...</div><a id="tbnet-link" href="http://www.tabeladobrasileirao.net/" class="tbnet-link" title="Brasileirão">Brasileirão</a><script src="http://gadgetsparablog.com/ws/tabeladobrasileirao/script?funcao=classificacao&campeonato=serie-a" type="text/javascript"></script></div>
</div>