<script type="text/JavaScript">
  $(function() {
      <% dt = @bolao_atual.rodadas.futuras.first.data_inicio_apostas.strftime("%Y/%m/%d/%H/%M/%S").split("/").map{|e| e.to_i} %>
      <% dt[1] = dt[1]-1%>
      data = <%= dt %>
      var austDay = new Date(data[0],data[1],data[2],data[3],data[4],data[5]);
      $('#CountDown').countdown({ until: austDay, onExpiry: function(){
        $('.countdown-span').fadeOut(700);
        location.reload();
      }
    });
  });
</script>
<div class="span3 countdown-span">

  <H4 ><i class="icon-2x icon-time"></i> APOSTAS FECHADAS</H4>
  <p> As apostas para a próxima rodada abrirão em:</p>
  <H6 id="CountDown"> </H6>
  <br>

</div>
<br>