<h1>  VOCÊ DEVE SER SUPER ADMIN PARA REALIZAR ESSA AÇÃO</h1>
<%= link_to new_contato_path do %>
<h4> Por favor, para maiores informações, nos comunique através da seção de contato e nos envie um email. </h4>
<%end-%>


