<%= render :partial => "/notification_mailer/topo_mailer" %>
<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou um link para alteração de senha e você poderá fazer isso através do link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não requisitou nenhum link, por favor ignore esse email.</p>
<p> Sua senha não será alterada até que você clique no link acima, ou crie uma nova.</p>
<%= render :partial => "/notification_mailer/footer_mailer" %>